<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Repositories</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css" rel="stylesheet">

</head>

<body>
    <table class="table">
    <thead>
      <tr>
        <th>Repositories</th>
      </tr>
    </thead>
    <tbody>
        <% for(var i=0; i < data.length; i++) { %>
            <tr>
            <td><a href=<%=data[i].html_url %>><%= data[i].name %></a></td>
            </tr>
        <% } %>
    </tbody>
  </table>
</body>
</html>
